<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1_SnapShot_1637274940996"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.0.12"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="95"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="general_electro_valve, handle, close_doors_electro_valve, doors, extend_gears_electro_valve, gears, open_doors_electro_valve, retract_gears_electro_valve"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TypeOK"/>
        <listEntry value="1Inv1"/>
        <listEntry value="1Inv2"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1Inv3"/>
        <listEntry value="1Inv4"/>
        <listEntry value="1Inv5"/>
        <listEntry value="1Inv6"/>
        <listEntry value="1Inv7"/>
        <listEntry value="1Inv8"/>
        <listEntry value="1Inv9"/>
        <listEntry value="1Inv10"/>
        <listEntry value="1Inv11"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="0"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <listAttribute key="modelParameterConstants"/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="landing_gear"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
